* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #4c3361;
  min-height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin: 0;
  color: #ffffff;
  margin-bottom: 5px;
}

.search {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.search__field {
  padding: 10px 35px;
  width: 350px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #000000;
  transition: all 0.3s ease-in-out;
}

.search__field:focus {
  padding-left: 10px;
}

.search__icon {
  position: absolute;
  top: 9px;
  left: 9px;
  transition: all 0.3s ease-in-out;
}

.search__field:focus + .search__icon {
  opacity: 0;
}

.search__wrapper {
  position: relative;
}

.search__field,
.search__field::placeholder {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
}

.search__close-icon {
  position: absolute;
  top: 9px;
  right: 9px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.search__close-icon--visible {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
}

.table-wrapper {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.table__header {
  border-bottom: 1px solid #000000;
  padding: 5px;
  background-color: #346089;
  height: 60px;
  color: #ffffff;
}

.table__cell {
  height: 60px;
  padding: 5px;
  text-align: center;
}

.table__cell--xs-size {
  width: 65px;
}

.table__cell--s-size {
  width: 85px;
}

.table__cell--m-size {
  width: 115px;
}

.table__cell--x-size {
  width: 150px;
}

.table__cell--xl-size {
  width: 240px;
}

.table__row {
  cursor: pointer;
}

.table__row:hover {
  background-color: #f3f3f3;
}

.table__row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  width: 70px;
  height: 40px;
  outline: none;
  border: none;
  /* border: 1px solid #fff; */
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  transition: box-shadow 0.2s;
}

.button:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.button:active {
  background-color: #808080;
}

.button:disabled {
  background-color: #a9a6a6;
  border-color: #eee;
  color: #444;
  cursor: not-allowed;
}
